@model List<UsuarioModel>
@{
	ViewData["Title"] = "Listagem de usuários";
}

<div class="text-center">
	<div class="d-grid gap-2 d-md-flex justify-content-md-start">
		<a class="btn btn-primary" role="button" asp-controller="Usuario" asp-action="Criar"> Adicionar novo contato </a>
	</div>
</div>

@if (TempData["MensagemSucesso"] != null)
{
	<div class="alert alert-success text-center" role="alert">
		<button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
		@TempData["MensagemSucesso"]
	</div>
}

@if (TempData["MensagemErro"] != null)
{
	<div class="alert alert-danger text-center" role="alert">
		<button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
		@TempData["MensagemErro"]
	</div>
}

<h1 class="display-4"> Listagem de Usuários </h1>

<table class="table" id="table-usuarios">
	<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col">Nome</th>
			<th scope="col">Login</th>
			<th scope="col">Email</th>
			<th scope="col">Perfil</th>
			<th scope="col">Data de cadastro</th>
			<th scope="col"></th>
		</tr>
	</thead>
	<tbody>
		@if (Model != null && Model.Any())
		{
			@foreach (var usuario in Model)
			{
				<tr>
					<td scope="row">@usuario.UserId</td>
					<td>@usuario.Nome</td>
					<td>@usuario.Login</td>
					<td>@usuario.UserEmail</td>
					<td>@(
					usuario.Perfil == ControleDeContatos.Enums.PerfilEnum.Admin ? "Administrador" : "Padrão")</td>
					<td>@usuario.DataCadastro</td>
					<td>
						<a asp-controller="Usuario" asp-action="Editar" asp-route-id=" @usuario.UserId" class="btn btn-primary" role="button">Editar</a>
						<a asp-controller="Usuario" asp-action="ApagarConfirmacao" asp-route-id="@usuario.UserId" class="btn btn-danger" role="button">Excluir</a>
					</td>
				</tr>
			}
		}
		else
		{
			<tr class="odd text-center"><td valign="top" colspan="5">Nenhum usuário encontrado</td></tr>
		}
	</tbody>
</table>
